# Based on whitelist management
/*

# Utility
!.gitignore
!/README.md
!/link_extra.sh
!/init.sh
!/.init

# Config entities
!/albert/
!/compton.conf
!/git/
!/i3/
!/irb/
!/latexmk/
!/mypy/
!/nvim/
!/python3/
!/termite/
!/tmux/
!/vim/
!/zsh/

!/*.terminfo
